fluxo _status_vendas.json
{
  "name": "\"Fluxo de trabalho do Nathan\"",
  "nodes": [
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/custom-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "2ed66d01de86afc28fc2d0c83a14147a"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -440,
        -400
      ],
      "id": "997c3792-d2a2-484f-8f53-78e0e0086133",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jqw7pQr6umJpiJIZ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apprRi0qn216ArdJC",
          "mode": "list",
          "cachedResultName": "curso para iniciantes",
          "cachedResultUrl": "https://airtable.com/apprRi0qn216ArdJC"
        },
        "table": {
          "__rl": true,
          "value": "tblL5XFUtMMlcgQrf",
          "mode": "list",
          "cachedResultName": "processandoPedidos",
          "cachedResultUrl": "https://airtable.com/apprRi0qn216ArdJC/tblL5XFUtMMlcgQrf"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "# ID do pedido": "={{ $('If').item.json.orderID }}",
            "#Nome do funcionário": "={{ $('If').item.json.employeeName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "# ID do pedido",
              "displayName": "# ID do pedido",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "#Nome do funcionário",
              "displayName": "#Nome do funcionário",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        220,
        -460
      ],
      "id": "725643ac-c730-4549-aa83-fee4d33cc386",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "I3UgLbE24GFO4bQV",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "612c3456-66ce-4a66-bf3d-284bd63843ca",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -280,
        -400
      ],
      "id": "029ed51e-b8cd-46da-ae4b-6174a46e25ee",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6e0dc10-c870-4dac-a1f0-8f02a2c15c88",
              "name": "#ID do pedido",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "454aa693-a647-48eb-ac21-32816ffad7c6",
              "name": "#Nome do funcionario",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -60,
        -520
      ],
      "id": "18c0b1f7-5732-4c6d-b56f-5725110df17c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -60,
        -280
      ],
      "id": "05fdcdf3-29d7-4148-b85c-878ff2e1dab0",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json[\"totalBooked\"]}} booked orders with a total value of {{$json[\"bookedSum\"]}}. My Unique ID: {{ $('HTTP Request').params[\"headerParameters\"][\"parameters\"][0][\"value\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        240,
        -280
      ],
      "id": "aaf15b39-fc0b-4643-ba74-e08400fc76a6",
      "name": "Discord",
      "webhookId": "abede4c7-64bf-4ccc-bb3c-f4b6bae32ae8",
      "credentials": {
        "discordWebhookApi": {
          "id": "PT4vsXeZYFjQfukW",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -620,
        -400
      ],
      "id": "8e4c3dfd-9097-472d-bdfa-a3a2de7f7995",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "9a9edde0-7025-474b-a92b-bb9187bd3fd1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "31b026f12e15723f9300c33e953485ad365b6c456a1686d0e52f2336b5b0d00d"
  },
  "id": "EWKSy0sRbHNKNvUf",
  "tags": []
}